/*app-login {
    .card {
        text-align: center;
    }

    button {
        max-width: 250px;
    }
}  */ 




 
.text{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
color: #faf0f0;
}