
<div class="container-login">
	<div class="d-flex justify-content-center h-100">
		<div class="card-login">
			<div class="card-header">
				<h2 style="color: white;">BCP</h2>				
			</div>
			<div class="card-body">
                <div class="message">
                    <h5 style="color: white;">Welcome, Please Sign in using Okta...!</h5>
                </div>
                <br/>
				<div class="form-group">

					<!-- <input type="text" #userName placeholder="user name"> -->
					<!-- <button style="font-weight: bold;" pButton type="submit" (click)="login()" label="Sign in" class="btn float-end login_btn"> </button> -->
                    <button style="font-weight: bold;" pButton type="submit" (click)="login()" label="Sign in" class="btn float-end login_btn"> </button>
					<!-- <button style="font-weight: bold;" *ngIf="(authStateService.authState$ | async)?.isAuthenticated" pButton type="submit" (click)="logout()" label="Log Out" class="btn float-end login_btn"> </button> -->

                </div>			
			</div>			
		</div>
	</div>
</div>