/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~primeng/resources/themes/nova/theme.css";
@import "~primeng/resources/primeng.min.css";
@import '~primeicons/primeicons.css';

.container-login{
height: 100%;
align-content: center;
vertical-align: middle;
}

.card-login{
height: 190px;
margin-top: 250px;
margin-bottom: auto;
width: 430px;
background-color: rgba(0,0,0,0.5) !important;
}

div.card-header {
    font-size: large;
}
   
div.card {
     margin-top: 10px
}

